<% if @suggestion.errors.any? %>
  <div id="error_explanation">
    <h2>Here's where you messed up</h2>

    <ul>
    <% @suggestion.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>