<section id="suggestion">
<h1>What's awesome?</h1>
<%= render 'form' %>
</section>

<section id="suggestions">
<h1>You should listen to...</h1>
<div>
<% if @suggestions.any? %>

<%= render @suggestions %>

<% else %>
<p class="none">Oh, snap! There aren't any suggestions yet. Add one! Be a hero.</p>
<% end %>
</div>
</section>